body {
    margin: 50px 220px;
    background-color: rgb(20,20,30);
    font-family: 'DejaVu Sands Mono', monospace;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 10px;
}

.intro {
    font-size: 35px;
    color: #cdd6f4;
}

.menu {
    align-items: center;
    text-align: center;
}

.projetos {
    text-align: center;
    color: #cdd6f4;
}


.footer {
    text-align: center;
    color: #f9e2af;
}